.CreateRoutine-main .CreateRoutine-right-box .Create-btn-container .Create-btn {
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: #21669c;
  text-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  background-size: 200% auto;
  color: white;
  font-weight: bold;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  padding: 12px;
  width: 290px;
  height: 55px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.CreateRoutine-main .CreateRoutine-right-box .Create-btn-container .Create-btn {
  background-image: -webkit-gradient(linear, left top, right top, from(#5f926a), color-stop(51%, #21669b), to(#5f926a));
  background-image: linear-gradient(to right, #5f926a 0%, #21669b 51%, #5f926a 100%);
}

.CreateRoutine-main .CreateRoutine-right-box .Create-btn-container .Create-btn:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-position: right center;
  cursor: pointer;
}

.CreateRoutine-container {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-image: url("../../../images/create-routine.jpg");
  background-attachment: scroll;
  overflow-y: auto;
}

.CreateRoutine-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CreateRoutine-main .CreateRoutine-left-box {
  width: 33vw;
}

.CreateRoutine-main .CreateRoutine-right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 67vw;
  height: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #e7eff6;
}

.CreateRoutine-main .CreateRoutine-right-box h1 {
  color: #024a81;
  font-family: Paytone One, sans-serif;
  text-shadow: 3px 3px 0px #77a37a;
  font-size: 70px;
  line-height: 1.1618em;
  font-style: italic;
  padding-bottom: 40px;
}

.CreateRoutine-main .CreateRoutine-right-box .Left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-right: 10px;
  width: 70px;
  height: 0px;
}

.CreateRoutine-main .CreateRoutine-right-box .Left-col img {
  position: relative;
  top: 42px;
}

.CreateRoutine-main .CreateRoutine-right-box .Create-form {
  width: 300px;
  border-radius: 4px;
  margin: 2px;
}

.CreateRoutine-main .CreateRoutine-right-box .Create-input {
  width: 300px;
  border-radius: 4px;
  margin: 2px;
  margin-top: 16px;
  color: white;
}

.CreateRoutine-main .CreateRoutine-right-box .Create-btn-container {
  text-align: right;
}

.CreateRoutine-main .CreateRoutine-right-box .Create-btn-container .Create-btn {
  width: 220px;
  margin-top: 60px;
  margin-right: 2px;
}
/*# sourceMappingURL=CreateRoutine.css.map */