@import "../../modules/flex/flex.scss";
@import "../../modules/colors/colors.scss";
@import "../../modules/fonts/fonts.scss";
@import "../../modules/buttons/buttons.scss";
@import "../../modules/background/background.scss";

.CreateRoutine-container {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../../../images/create-routine.jpg");
}

.CreateRoutine-main {
  @include flex-start;
  overflow-y: auto;

  .CreateRoutine-left-box {
    width: 33vw;
  }

  .CreateRoutine-right-box {
    @include flex-base;
    @include flex-column;
    width: 67vw;
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: right;

    h1 {
      @include h1-font;
      color: $mo-5;
      padding-bottom: 40px;
      font-style: italic;
    }

    .Left-col {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-right: 10px;
      width: 70px;
      height: 0px;

      img {
        position: relative;
        top: 42px;
      }
    }
    .Create-form {
      width: 300px;
      border-radius: 4px;
      margin: 2px;

    }
    .Create-input {
      width: 300px;
      border-radius: 4px;
      margin: 2px;
      margin-top: 16px;
      color: white;
    }
    .Create-btn {
      @extend %btn-base;
      @extend %btn-gradient;
      width: 200px;
      margin-top: 40px;
      margin-right: 2px;
    }
    .Create-btn:hover {
      @extend %primary-btn-hover;
    }
  }
}
