@import "../../modules/flex/flex.scss";
@import "../../modules/colors/colors.scss";
@import "../../modules/fonts/fonts.scss";
@import "../../modules/buttons/buttons.scss";
@import "../../modules/background/background.scss";

.CreateRoutine-container {
  @include bg-full;
  background-image: url("../../../images/create-routine.jpg");
  background-attachment: scroll;
  overflow-y: auto;
}

.CreateRoutine-main {
  @include flex-start;

  // .CreateRoutine-left-box {
  //   width: 33vw;
  // }

  .CreateRoutine-right-box {
    @include flex-base;
    @include flex-column;
    width: 100vw;
    height: auto;
    padding-top: 90px;
    padding-bottom: 80px;
    // background-color: $ol-1;

    h1 {
      @include h1-font-b;
      font-size: 50px;
      padding-bottom: 40px;
      text-align: center;
    }

    .Left-col {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-right: 10px;
      width: 70px;
      height: 0px;

      img {
        position: relative;
        top: 42px;
      }
    }

    .Create-form {
      width: 275px;
      border-radius: 4px;
      margin: 2px;
    }
    .Create-input {
      width: 275px;
      border-radius: 4px;
      margin: 2px;
      margin-top: 16px;
      color: white;
    }

    .Create-btn-container {
      text-align: right;

      .Create-btn {
        @extend %btn-base;
        @extend %btn-gradient;
        width: 220px;
        margin-top: 60px;
        margin-right: 2px;
      }
      .Create-btn:hover {
        @extend %primary-btn-hover;
      }
    }
  }
}

// Media Queries
@media (max-width: 1024) {
}

@media (max-width: 768) {
}

@media (max-width: 425) {
}

@media (max-width: 375) {
}

@media (max-width: 320) {
}
