// Primary h1 color
$primary-h1-color: #024a81;

// p color
$primary-p-color: black;

// Button Colors
$button-color: #21669c;
$button-color-hover: #4b86b4;

// 1 - light, 5 - dark
// Tree Leaves Color Palette
$tl-0: #9fbea1;
$tl-1: #77a37a;
$tl-2: #5f926a;
$tl-3: #587e60;
$tl-4: #485e52;
$tl-5: #3a4f3f;
$tl-light-1: #7fb356;
$tl-light-2: #91b263;

// Monochromatic Ocean Color Palette
$mo-1: #6497b1;
$mo-2: #5890b3;
$mo-3: #4b86b4;
$mo-4: #21669b;
$mo-5: #024a81;

// Ocean luxury Color Palette
$ol-1: #e7eff6;
$ol-2: #adcbe3;
$ol-3: #63ace5;
$ol-4: #005b96;
$ol-5: #03396c;

// gray scale - olb
$gs-0: #c4c4c4;
$gs-1: #9e9e9e;
$gs-2: #757575;
$gs-3: #616161;
$gs-4: #424242;
$gs-5: #212121;
