// Primary Colors
$primary-bg-color: #b6d3dd;

// h1 color
$primary-h1-color: #024a81;

// h2 color
$primary-h2-color: #306b91;

// p color
$primary-p-color: black;

// Button Colors
$button-color: #21669c;
$button-color-hover: #4b86b4;
