@import "../../modules/flex/flex.scss";
@import "../../modules/colors/colors.scss";
@import "../../modules/fonts/fonts.scss";
@import "../../modules/buttons/buttons.scss";
@import "../../modules/background/background.scss";

.Category-bg {
  @include bg-full;
  @include flex-base;
  @include flex-column;
  height: 96vh;
  // background-color: $ol-1;
  margin-top: 40px;
}
.Arrow-down {
  margin-top: 20px;
  opacity: 0.8;
}

.Category-nav-container {
  @include flex-base;
  margin-top: 30px;
  text-align: center;

  .Category-nav-links {
    @include flex-base;
    @include h1-font;
    background-color: $tl-0;
    border-radius: 6px;
    box-shadow: 0px 2px 6px 0px hsla(0, 0%, 0%, 0.4);
    color: $mo-5;
    font-style: italic;
    width: 70vw;
    height: 35vh;
    margin-top: 10px;
  }
  .Category-nav-links:hover {
    background-color: $tl-1;
  }
}

// Media Queries
@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 425px) {
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
}
