@mixin flex-base {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}