.Login-btn,
.Register-btn {
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: #21669c;
  text-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  background-size: 200% auto;
  color: white;
  font-weight: bold;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  padding: 12px;
  width: 290px;
  height: 55px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Login-btn {
  background-image: -webkit-gradient(linear, left top, right top, from(#5f926a), color-stop(51%, #21669b), to(#5f926a));
  background-image: linear-gradient(to right, #5f926a 0%, #21669b 51%, #5f926a 100%);
}

.Login-btn:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-position: right center;
  cursor: pointer;
}


.Register-btn {
  background-color: transparent;
  color: #485e52;
  border: 2px solid #485e52;
  -webkit-transition: 1s;
  transition: 1s;
  background-position: left center;
}

.Register-btn:hover {
  color: white;
  border: 2px solid transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#5f926a), color-stop(51%, #21669b), to(#5f926a));
  background-image: linear-gradient(to right, #5f926a 0%, #21669b 51%, #5f926a 100%);
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.GuestLanding-Body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  font-family: Roboto, sans-serif;
  font-size: 1em;
  line-height: 1.618em;
  letter-spacing: 0.03em;
  color: #024a81;
  background-image: url("../../../images/login-register-bg.svg");
  font-weight: bold;
}

.tagline {
  font-family: Roboto, sans-serif;
  font-size: 1em;
  line-height: 1.618em;
  letter-spacing: 0.03em;
  margin-top: 2vh;
  text-align: center;
  letter-spacing: 0.1em;
}

.GuestLanding-Buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15vw;
  margin-top: 8vh;
}

.Login-btn,
.Register-btn {
  width: 325px;
  margin: 10px;
}

@media (max-width: 414px) {
  .GuestLanding-header {
    margin-top: -5vh;
    margin-bottom: 10vh;
  }
  .GuestLanding-Buttons {
    margin-top: 5vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Login-btn,
  .Register-btn {
    width: 90vw;
  }
}
/*# sourceMappingURL=GuestLanding.css.map */