@import "../../modules/flex/flex.scss";
@import "../../modules/colors/colors.scss";
@import "../../modules/fonts/fonts.scss";
@import "../../modules/buttons/buttons.scss";
@import "../../modules/background/background.scss";

.GuestLanding-Body {
  @include flex-base;
  @include flex-column;
  @include bg-full;
  @include p-font;
  color: $primary-h1-color;
  background-image: url("../../../images/login-register-bg.svg");
  font-weight: bold;
}

.tagline {
  @include p-font;
  margin-top: 2vh;
  text-align: center;
  letter-spacing: 0.1em;
}

.GuestLanding-Buttons {
  @include flex-row-space-a;
  @include flex-column;
  width: 15vw;
  margin-top: 8vh;
}

// LOGIN AND REGISTER BUTTONS

.Login-btn,
.Register-btn {
  @extend %btn-base;
  width: 325px;
  margin: 10px;
}

.Login-btn {
  @extend %btn-gradient;
}
.Login-btn:hover {
  @extend %primary-btn-hover;
}

.Register-btn {
  @extend %secondary-btn;
}
.Register-btn:hover {
  @extend %secondary-btn-hover;
}

// MEDIA QUERIES
@media (max-width: 414px) {
  .GuestLanding-header {
    margin-top: -5vh;
    margin-bottom: 10vh;
  }
  .GuestLanding-Buttons {
    margin-top: 5vh;
    @include flex-column;
  }

  .Login-btn,
  .Register-btn {
    width: 90vw;
  }
}
