@mixin bg-full {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

@mixin bg-half-width {
  width: 50vw;
  height: 100vh;
}

@mixin bg-third-width {
  width: 33vw;
  height: 93vh;
}

@mixin bg-two-thirds-width {
  width: 67vw;
  height: 93vh;
}

@mixin bg-full-fixed {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
