@import "../../modules/flex/flex.scss";
@import "../../modules/colors/colors.scss";
@import "../../modules/fonts/fonts.scss";
@import "../../modules/buttons/buttons.scss";
@import "../../modules/background/background.scss";

.UserProfile-container {
  @include bg-full;
  @include flex-column;
}

.UserProfile-left {
  @include bg-third-width;
  background-color: pink;
}

.UserProfile-right {
  background-color: blue;
  @include bg-full;
}

.Edit-delete-menu {
  padding-top: 15px;
  padding-right: 15px;
  text-align: center;
  width: 10%;
}

.Edit-delete-menu:hover {
  cursor: pointer;
}

.Routine-bottom {
  @include flex-row-space-bt;
}
