// Body Font-Family
$body-fontfamily: Montserrat, sans-serif;

// Font h1
@mixin h1-font {
  font-family: Paytone One, sans-serif;
  text-shadow: 3px 3px 0px $tl-1;
  font-size: 70px;
  line-height: 1.1618em;
}

@mixin h1-font-b {
  color: $mo-5;
  font-family: Paytone One, sans-serif;
  text-shadow: 3px 3px 0px $tl-1;
  font-size: 70px;
  line-height: 1.1618em;
  font-style: italic;
}

// Font h2
@mixin h2-font {
  font-family: Raleway, sans-serif;
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
  color: white;
  text-shadow: 3px 3px 0px $mo-5;
  letter-spacing: 0.03em;
}

// Font h3
@mixin h3-font {
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.618em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

// Font nav
@mixin nav-font {
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.03em;
}

@mixin nav-side-font {
  font-family: Montserrat, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

// Font p
@mixin p-font {
  font-family: Roboto, sans-serif;
  font-size: 1em;
  line-height: 1.618em;
  letter-spacing: 0.03em;
}
