// Body Font-Family
$body-fontfamily: Montserrat, sans-serif;

// Font h1
@mixin h1-font {
  font-family: Paytone One, sans-serif;
  font-size: 70px;
}

// Font h2
@mixin h2-font {
  font-family: Raleway, sans-serif;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.03em;
}

@mixin nav-font {
  font-family: Raleway, sans-serif;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

// Font p
@mixin p-font {
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  line-height: 1.618em;
  letter-spacing: 0.03em;
}
