@import "../../modules/colors/colors.scss";
@import "../../modules/fonts/fonts.scss";

%btn-base {
  border-radius: 5px;
  border: 2px solid $button-color;
  background-color: $button-color;
  color: white;
  font-family: $body-fontfamily;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  padding: 12px;
  width: 290px;
  height: 55px;
}

%primary-btn-hover {
  color: $primary-h1-color;
  background-color: transparent;
  transition: 1s;
  cursor: pointer;
}

%secondary-btn {
  background-color: transparent;
  color: $primary-h1-color;
  border: 2px solid $button-color;
}

%secondary-btn-hover {
  color: white;
  background-color: $button-color;
  transition: 1s;
  cursor: pointer;
}
