@import "../../modules/colors/colors.scss";
@import "../../modules/fonts/fonts.scss";

%btn-base {
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: $button-color;
  text-shadow: 0px 2px 5px 0px hsla(0, 0%, 0%, 0.4);
  background-size: 200% auto;
  color: white;
  font-weight: bold;
  font-size: 16px;
  font-family: $body-fontfamily;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  padding: 12px;
  width: 290px;
  height: 55px;
  flex: 1 1 auto;
  transition: 0.5s;
}

%btn-gradient {
  background-image: linear-gradient(to right, $tl-2 0%, $mo-4 51%, $tl-2 100%);
}

%primary-btn-hover {
  transition: 1s;
  background-position: right center;
  cursor: pointer;
}

%secondary-btn {
  background-color: transparent;
  color: $tl-4;
  border: 2px solid $tl-4;
  transition: 1s;
  background-position: left center;
}

%secondary-btn-hover {
  color: white;
  border: 2px solid transparent;
  background-image: linear-gradient(to right, $tl-2 0%, $mo-4 51%, $tl-2 100%);
  transition: 1s;
  cursor: pointer;
}
