@import "../../modules/flex/flex.scss";
@import "../../modules/colors/colors.scss";
@import "../../modules/fonts/fonts.scss";
@import "../../modules/buttons/buttons.scss";
@import "../../modules/background/background.scss";

.Home-container {
  @include bg-full;
  @include flex-column;
  background-image: url("../../../images/home-bg.jpg");
  background-attachment: scroll;
  overflow-y: auto;
}

.Category-bg {
  @include bg-full;
  @include flex-base;
  @include flex-column;
  padding-top: 10vh;
  height: 90vh;
}

.Home-body {
  @include flex-base;
  @include flex-column;

  .Home-header {
    @include h2-font;
    padding: 50px;
    font-style: italic;
    margin-top: 20vh;
  }
}
