@import "../../modules/flex//flex.scss";
@import "../../modules/colors/colors.scss";
@import "../../modules/fonts/fonts.scss";
@import "../../modules/background/background.scss";

.Login-Register-container {
  width: 100vw;
  height: 100vh;
  background-color: #6497b1;
  text-align: center;
  @include flex-base;

  .Left-box,
  .Right-box {
    @include flex-base;
    @include flex-column;
  }
}

.Welcome-message {
  @include h1-font;
  color: $primary-h1-color;
}

.Left-box {
  @include bg-half-width;
}

.Right-box {
  background-color: white;
  @include bg-half-width;

  .Form-body {
    @include flex-base;
    @include flex-column;
    width: 50vw;
    .Login-input {
      width: 325px;
      height: 65px;
      margin: 0px;
    }
    .Register-input {
      width: 200px;
      height: 65px;
      margin: 5px;
    }
    .label {
      font-family: $body-fontfamily;
    }
    .login {
      margin-top: 15px;
    }

    .register {
      @include flex-start;
      position: relative;
      left: 130px;
    }

    .register-btn {
      width: 150px;
      margin-top: 15px;
    }
  }
}

// MEDIA QUERIES
