@import "../../modules/flex/flex.scss";
@import "../../modules/colors/colors.scss";
@import "../../modules/fonts/fonts.scss";
@import "../../modules/buttons/buttons.scss";
@import "../../modules/background/background.scss";

.Body-container {
  @include bg-full;
  @include flex-column;
  background-image: url("../../../images/home-bg.jpg");
  background-attachment: scroll;
  overflow-y: auto;
}

// Media Queries
@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 425px) {
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
}
