@mixin flex-base {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  flex-direction: column;
}

@mixin flex-row-space-a {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-row-space-bt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
