@import "../../modules/flex/flex.scss";
@import "../../modules/colors/colors.scss";
@import "../../modules/fonts/fonts.scss";
@import "../../modules/buttons/buttons.scss";
@import "../../modules/background/background.scss";

.hidden-by-default {
  display: none;
}

.Header-main-container {
  @include flex-base;
  @include flex-row-space-bt;
  @include nav-font;
  color: white;
  background: linear-gradient(90deg, $mo-4 0%, $tl-3 100%);
  box-shadow: 0px 2px 10px 0px hsla(0, 0%, 0%, 0.4);
  height: 8vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;

  img {
    margin-left: 20px;
  }
}

.Nav-default-container {
  .Nav-default-links {
    @include flex-row-space-a;
  }

  span {
    margin: 5px;
  }

  .Header-message {
    margin-left: 10px;
    text-transform: none;
  }

  .Nav-links {
    height: 8vh;
    padding-left: 12px;
    padding-right: 12px;
    @include flex-base;
  }

  .Nav-links:hover {
    background-color: $tl-2;
    transition: 0.6s;
    cursor: pointer;
  }

  .Header-profile {
    text-transform: lowercase;
  }
}

// Hamburger menu

.Menu-bar {
  text-align: center;
  height: 8vh;
  padding-left: 2px;
  padding-right: 2px;
  width: 60px;

  .Hamburger {
    height: 100%;
  }
}

.Menu-bar:hover {
  background-color: $tl-2;
  transition: 0.6s;
  cursor: pointer;
}

// Side menu

nav.side-menu,
.side-menu-open,
.side-menu-close {
  @include flex-base;
  color: white;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, $mo-4 0%, $tl-3 100%);
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100vw);
  z-index: 2;
}

// Side Menu Open
.side-menu-open {
  animation: open 0.6s forwards linear;
}

@keyframes open {
  to {
    transform: translateX(0px);
  }
}

// Side Menu Close
.side-menu-close {
  animation: close 0.6s forwards linear;
}

@keyframes close {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100vw);
  }
}

.Menu-close {
  transition: transform 0.6s;
  position: absolute;
  top: 15vw;
  left: 15vw;
}
.Menu-close:hover {
  color: $tl-1;
  transform: scale(1.75);
  cursor: pointer;
}

// Media Queries
@media (max-width: 1024px) {
  .Nav-default-container {
    display: none;
  }
  .Menu-bar {
    display: block;
  }
}
