.hidden-by-default {
  display: none;
}

.Header-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  font-family: Raleway, sans-serif;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#21669b), to(#587e60));
  background: linear-gradient(90deg, #21669b 0%, #587e60 100%);
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
  height: 8vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.Header-main-container img {
  margin-left: 20px;
}

.Nav-default-container .Nav-default-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Nav-default-container span {
  margin: 5px;
}

.Nav-default-container .Header-message {
  margin-left: 10px;
  text-transform: none;
}

.Nav-default-container .Nav-links {
  height: 8vh;
  padding-left: 12px;
  padding-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Nav-default-container .Nav-links:hover {
  background-color: #5f926a;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
}

.Nav-default-container .Header-profile {
  text-transform: lowercase;
}

.Menu-bar {
  text-align: center;
  height: 8vh;
  padding-left: 2px;
  padding-right: 2px;
  width: 60px;
}

.Menu-bar .Hamburger {
  height: 100%;
}

.Menu-bar:hover {
  background-color: #5f926a;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
}

nav.side-menu,
.side-menu-open,
.side-menu-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#21669b), to(#587e60));
  background: linear-gradient(90deg, #21669b 0%, #587e60 100%);
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  z-index: 2;
}

.side-menu-open {
  -webkit-animation: open 0.6s forwards linear;
          animation: open 0.6s forwards linear;
}

@-webkit-keyframes open {
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes open {
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.side-menu-close {
  -webkit-animation: close 0.6s forwards linear;
          animation: close 0.6s forwards linear;
}

@-webkit-keyframes close {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}

@keyframes close {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}

.Menu-close {
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  position: absolute;
  top: 15vw;
  left: 15vw;
}

.Menu-close:hover {
  color: #77a37a;
  -webkit-transform: scale(1.75);
          transform: scale(1.75);
  cursor: pointer;
}

@media (max-width: 1024px) {
  .Nav-default-container {
    display: none;
  }
  .Menu-bar {
    display: block;
  }
}
/*# sourceMappingURL=Header.css.map */