@import "../../modules/flex/flex.scss";
@import "../../modules/colors/colors.scss";
@import "../../modules/fonts/fonts.scss";
@import "../../modules/buttons/buttons.scss";
@import "../../modules/background/background.scss";

.Routines-wrapper {
  @include bg-full;
  @include flex-base;
  @include flex-column;

  .Routines-container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
  }
}

.Routines-body {
  .Routines {
    background-color: $ol-1;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0px 2px 6px 0px hsla(0, 0%, 0%, 0.4);
    margin: 30px;
    width: 50vw;

    .Routine-top {
      @include flex-row-space-bt;
      @include h3-font;
      background-color: $gs-2;
      color: white;
      padding: 10px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      .Routine-user {
        width: 20%;

        .User-avatar,
        .Routine-age {
          padding-left: 5px;
          width: 15%;
          text-align: center;
        }
        .Routine-username,
        .Routine-skintype {
          padding-left: 15px;
          width: 100%;
        }
      }
    }
  }

  .Like-btns {
    @include flex-start;
    @include p-font;
    color: $gs-3;
    margin-top: 10px;
    padding: 15px;

    .Routine-likes {
      padding: 0 4px;
    }
  }

  .Routine-info {
    width: 100%;
    background-color: white;
    border-radius: 2px;

    .Routine-left-col,
    .Routine-right-col {
      padding: 10px 10px;
    }
    .Routine-left-col {
      @include h3-font;
      color: $gs-4;
      box-sizing: border-box;
      border-right: 2px solid $gs-0;
      height: 100%;
      width: 35%;
    }
    .Routine-right-col {
      @include p-font;
      width: 65%;
      color: $gs-5;
    }
  }
}

// Media Queries
@media (max-width: 1024px) {
  
}

@media (max-width: 768px) {
}

@media (max-width: 425px) {
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
}
